/* 
    Document   : quotes.css
    Created on : 16 sept. 2011, 23:35:34
    Author     : guillaume algis
*/

/* =======================     Quotes   ========================= */

.quote
{
  line-height: 1.5em;
}

h5.quote_author
{
  font-size: 1em;
  color: #3484c3;
}

.quote_context
{
  color: #727171;
}

.quote_content
{
  color: #222222;
}