{% extends '::base.html.twig' %}

{% block body %}
    {% for quote in quotes %}
        <p>--- {{quote.author}} [{{quote.rank}}]<br />
            Contexte: {{quote.context}}<br />
            {{ quote.content | raw }}<br />
        ---</p>
    {% endfor %}
{% endblock %}