{# This template is required as we use it to render more quotes via XHR #}

{% for quote in quotes %}
  {% include 'EpiquoteQuotesBundle:Quote:quote.html.twig' with {'quote': quote} %}
{% else %}
  <div class="centered">
    <p>Aucune quote n'a été trouvée !</p>
    <br/>
  </div>
{% endfor %}
