{% extends '::layout.html.twig' %}

{% block content %}
  {% for quote in quotes %}
  <div class="quote">
    <div class="quote_rank">
      <p>
        {{ quote.rank }}
      </p>
    </div>
    <div class="quote_body">
      <p class="quote_author">{{quote.author}}</p>
      <br />
      <p>
        {% if quote.context %}
          <span class="quote_context">Contexte: {{quote.context}}</span>
          <br />
        {% endif %}
        <span class="quote_content">{{ quote.content | raw }}</span>
      </p>
    </div>
  </div>
  {% endfor %}
{% endblock %}