{# This template is required as we use it to render more quotes via XHR #}

{% for quote in quotes %}
  <div class="quote content">
    <h5 class="quote_author">{{quote.author}}</h5>
    {% if quote.context %}
      <p class="quote_context">Contexte: {{quote.context | raw }}</p>
    {% endif %}
      <br/><p class="quote_content">{{ quote.content | raw }}</p>
  </div>
{% else %}
  <div class="content centered">
    <p>Aucune quote n'a été trouvée !</p>
  </div>
{% endfor %}
