{% if loop.last %}
  <div class="quote no-separator">
{% else %}
  <div class="quote">  
{% endif %}
      <div class="quote_rank">
        <p>
          <a class="rate_symbols" href="#">-</a>
          &nbsp;{{ quote.rank }}&nbsp;
          <a class="rate_symbols" href="#">+</a>
        </p>
      </div>
      <div class="quote_body">
        <p class="quote_author">{{quote.author}}</p>
        <br />
        <p>
          {% if quote.context %}
            <span class="quote_context">Contexte: {{quote.context | raw }}</span>
            <br />
          {% endif %}
          <span class="quote_content">{{ quote.content | raw }}</span>
        </p>
      </div>
    </div>