/* 
    Document   : error.css
    Created on : 26 sept. 2011, 23:49:54
    Author     : guillaume
    Description:
        CSS for customizing error pages
*/

#tumbeast
{
  float: left;
  margin-right: 20px;
}

#tumbeast #error_msg
{  
  position: relative;
  top: -140px;
  left: 9px;
  
  font-family: Mistral, "Comic Sans MS", Brushstroke, fantasy;
  font-size: 1.3em;
  text-align: center;
}

#tumbeast #error_msg #code
{
  font-size: 1.6em;
  font-weight: bold;
}
