/* 
    Document   : forms.css
    Created on : 17 sept. 2011, 23:44:02
    Author     : Guillaume
    Description:
        Forms customization
*/

form .input-wide
{
  width: 680px;
}

form .textarea-wide
{
  width: 680px;
  max-width: 680px;
  height: 200px;
}

label
{
  margin-right: 10px;
}