/* 
    Document   : forms.css
    Created on : 17 sept. 2011, 23:44:02
    Author     : Guillaume
    Description:
        Forms customization
*/

form
{
  width: 90%;
  margin: auto;
  font-size: 1.2em;
}

input, textarea, select, label
{
  margin-left: -10px;
}

input, textarea, select
{
  font-size: 1em;
  padding: 10px;
  font-family: inherit;
  color: #4d4d4d;
  
  text-shadow: 0px 1px 1px #FFF;
  background: url('../images/sheet_background_dark.png') repeat #c1c3c6;
  border: none;
  -webkit-box-shadow: inset 0px 1px 1px #a1a3a6, inset 0px -1px 1px #f5f6f8;
  -moz-box-shadow: inset 0px 1px 1px #a1a3a6, inset 0px -1px 1px #f5f6f8;
  box-shadow: inset 0px 1px 1px #a1a3a6, inset 0px -1px 1px #f5f6f8;
}

input[type=submit]
{
  -webkit-box-shadow: inset 0px -1px 1px #a1a3a6, inset 0px 1px 1px #f5f6f8;
  -moz-box-shadow: inset 0px -1px 1px #a1a3a6, inset 0px 1px 1px #f5f6f8;
  box-shadow: inset 0px -1px 1px #a1a3a6, inset 0px 1px 1px #f5f6f8;
}

input[type=submit]:active
{
  -webkit-box-shadow: inset 0px 1px 1px #a1a3a6, inset 0px -1px 1px #f5f6f8;
  -moz-box-shadow: inset 0px 1px 1px #a1a3a6, inset 0px -1px 1px #f5f6f8;
  box-shadow: inset 0px 1px 1px #a1a3a6, inset 0px -1px 1px #f5f6f8;
}

form button
{
  font-size: 0.8em;
  padding: 5px 10px;
}

input[type=text]
{
  width: 100%;
}

textarea
{
  width: 100%;
  min-height: 100px;
}

form .error
{
  color: #881212;
}

/* ========================== Search ======================= */

#search form
{
  width: 400px;
  margin: auto;
}

#search form input
{
  background: url('../images/search_input_background.png') no-repeat top left #0d2f4a;
  color: #cacaca;
  text-shadow: 0px 1px 1px #1d2f3e;
  margin-top: 20px;
  
  -webkit-box-shadow: inset 0px 1px 1px #0e2d46, inset 0px -1px 1px #104c7e;
  -moz-box-shadow: inset 0px 1px 1px #0e2d46, inset 0px -1px 1px #104c7e;
  box-shadow: inset 0px 1px 1px #0e2d46, inset 0px -1px 1px #104c7e;
}

#search form input[type=submit], #search form button
{
  display: none;
}

