/* 
    Document   : main.css
    Created on : 14 sept. 2011, 23:35:34
    Author     : guillaume algis
    Description:
        Main stylesheet for epiquote.fr
*/

/* =============    General rules    ================ */

*
{
  margin: 0;
  padding: 0;
}

body
{
  font-family: Georgia, Norasi, serif;
  background: url('../images/sheet_background.png') repeat #dde0e4;
}

a
{
  color: inherit;
  text-decoration: none;
}

.clear
{
  display: block;
  clear: both;
}

.centered
{
  text-align: center;
}

.float-left
{
  float: left;
}

.float-right
{
  float: right;
}

/* =============      Header         ================ */

#header
{
  background: url('../images/header_background.png') repeat-x #0e3555;
}

#header_content
{
  width: 800px;
  height: 100%;
  margin: auto;
  background: url('../images/logo_background.png') no-repeat #0e3555;
}

#logo
{
  width: 285px; /* 245px + 40px */
  margin: auto;
  padding-top: 60px;
}

#header_menu
{
  width: 500px;
  height: 40px;
  margin: auto;
  padding-top: 30px;
}

#header_menu ul li
{
  padding: 0 30px;
  float: left;
  list-style: none;
}

#header_menu ul li a
{
  text-align: center;
  color: #cdcdcd;
  text-shadow: 0px 1px 1px #000;
  
  -webkit-transition: color 300ms linear;
  -moz-transition: color 300ms linear;
  -o-transition: color 300ms linear;
  transition: color 300ms linear;
}

#header_menu ul li a:hover
{
  color: white;
}

/* =======================    Search     ========================= */

#search
{
  width: 100%;
  height: 90px;
}

/* see forms.css for search related forms elements style */

/* =======================    Indicator     ========================= */

#menu_indicator
{
  width: 500px;
  height: 10px;
  margin: auto;
  position: relative;
  top: 1px;
  /* Indicator is hidden in the left of the block by default */
  background: url('../images/menu_indicator.png') no-repeat -20px;
}

/* =======================    Sheet     ========================= */

#sheet
{
  border-top: 1px solid #eaeaea;
  padding: 30px 0;
  color: #686868;
  text-shadow: 0px 1px 1px #FFF;
}

#wide_content
{
  width: 800px;
  margin: auto;
}

#content
{
  width: 500px;
  margin: auto;
}
