/* 
    Document   : main.css
    Created on : 14 sept. 2011, 23:35:34
    Author     : guillaume algis
    Description:
        Main stylesheet for epiquote.fr
*/

/* =============    General rules    ================ */

*
{
  margin: 0;
  padding: 0;
}

html, body { -webkit-text-size-adjust: none; }

html
{
  font-size: 100%;
}

body
{
  font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
  font-size: 0.75em;
  background: #fafafa;
}

h1, h2, h3, h4, h5, h6
{
  color: #2f7caf;
}

h5 { font-size: 1em; }

a
{
  color: #3286be;
  text-decoration: none;
  
  -webkit-transition: color 200ms linear;
  -moz-transition: color 200ms linear;
  -o-transition: color 200ms linear;
  transition: color 200ms linear;
}

a:hover
{
  color: #3ab0fe;
}

.clear
{
  display: block;
  clear: both;
}

.display-none
{
  display: none;
}

.centered
{
  text-align: center;
}

.float-left
{
  float: left;
}

.float-right
{
  float: right;
}

/* =============      Header         ================ */

header
{
  width: 750px;
  height: 100px;
  margin: auto;
}

div
{
  
  padding: 0;
  margin: 0;
}

h1#logo
{
  padding: 0;
  margin: 0;
  font-family: 'Droid Serif', serif;
  font-size: 4em;
  line-height: 39px;
  height: 48px;
  color: #3797d7;
  margin-top: 26px;
  float: left;
}

h1#logo a, h1#logo a:hover, h1#logo a:active
{
  color: #3797d7;
}


header div#ordering
{
  margin-top: 42px;
  float: right;
}

/* =======================    Page     ========================= */

#page
{
  width: 750px;
  min-height: 100px;
  margin: auto;
  border: 1px solid #e0e0e0;
  background: white;
  
  -webkit-box-shadow: 0px 0px 2px -1px #b0b0b0;
  -moz-box-shadow: 0px 0px 2px -1px #b0b0b0;
  box-shadow: 0px 0px 2px -1px #b0b0b0;
}

.content
{
  width: 700px; /* 750px - 2 * 25px */
  padding: 25px;
  border-bottom: 1px solid #d6d6d6;
}

.page_paragraph
{
  line-height: 1.8em;
}

#add-search
{
  background: #f7f7f7;
  
  -webkit-box-shadow: inset 0px 1px #ffffff;
  -moz-box-shadow: inset 0px 1px #ffffff;
  box-shadow: inset 0px 1px #ffffff;
}

#more-quotes-button
{
  text-align: center;
}

/* =======================    Footer     ========================= */

footer
{
  width: 730px;
  margin: auto;
  padding: 10px;
  background: #fafafa;
  color: #a5a5a5;
}

footer a
{
  color: #a5a5a5;
  text-decoration: none;
  
  -webkit-transition: color 200ms linear;
  -moz-transition: color 200ms linear;
  -o-transition: color 200ms linear;
  transition: color 200ms linear;
}

footer a:hover
{
  color: #d2d2d2;
}


#footer_left
{
  float: left;
}

#footer_right
{
  float: right;
}