{% extends '::layout.html.twig' %}

{% block content %}

<div class="content page_paragraph">
  <h2>A propos d'Epiquote</h2><br/>

  <p>La version originale d'Epiquote est le fruit du travail de Vincent Nguyen, que nous remercions chaleureusement de cette fabuleuse idée.</p>

  <p>La version actuelle est développée et maintenue par Guillaume Algis sous Symfony 2. Le code source de ce site est disponible sous license MIT <a href="https://github.com/guillaume-algis/epiquote">sur GitHub.</a></p>
  <br/>

  <h3 id="#bugs">Bugs / Feedback</h3>
  <p>Les rapports de bugs (et plus généralement toute idée d'amélioration) sont les bienvenus. Dans la mesure du possible (si le type de requête s'y prête) merci d'utiliser <a href="https://github.com/guillaume-algis/epiquote/issues/new">le bug tracker de GitHub</a>, sinon contactez nous par email à l'adresse <a href="mailto:admin@epiquote.fr">admin@epiquote.fr</a>.</p>
  <br/>

  <h3>License</h3>
  <p>Copyright &copy; {{ license_year }} Epiquote</p><br/>

  <p>Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:</p><br/>

  <p>The above copyright notice and this permission notice shall be included in
  all copies or substantial portions of the Software.</p><br/>

  <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
  THE SOFTWARE.</p>
</div>

{% endblock %}