{% extends '::layout.html.twig' %}

{% block content %}

<div class="content page_paragraph">
  <h2>Informations légales</h2><br/>

  <h3>Rapport aux écoles</h3>
  <p>Les administrations d'Epita et Epitech ne sont en aucun cas liées à ce site, et n'en cautionnent pas le contenu.</p>
  <p>Ce site est un endroit de partage de citations d'élèves et de professeurs de ces écoles, dans le but de transmettre aux promotions futures leur état d’esprit si particulier que nous souhaitons conserver. Le site est mis en place, maintenu et alimenté en contenu par les élèves eux mêmes.</p>
  <br/>

  <h3>Contenu & Vie privée</h3>
  <p>Les citations (ou "quotes") ne sont soumises à aucune vérification technique ou humaine lors de leur soumission. Cependant, les administrateurs du site se réservent le droit de modifier voire de supprimer toute citation jugée offensante ou au contenu déplacé, et ce sans préavis.</p>
  <br/>
  <p><strong>Conformément à la Loi 78-17 du 6 janvier 1978, article 40 :</strong><br/>
    "Toute personne physique justifiant de son identité peut exiger du responsable d’un traitement que soient, selon les cas, rectifiées, complétées, mises à jour, verrouillées ou effacées les données à caractère personnel la concernant, qui sont inexactes, incomplètes, équivoques, périmées, ou dont la collecte, l’utilisation, la communication ou la conservation est interdite."</p><br/>

  <p>Toute demande de ce type doit être effectuée par email à l’adresse <strong><a href="mailto:admin@epiquote.fr">admin@epiquote.fr</a></strong>.</p>
</div>
  
{% endblock %}