{% extends '::layout.html.twig' %}

{% block content %}

<div class="content page_paragraph">
  <h2>Version mobiles d'Epiquote</h2><br/>

  <h3>Android</h3>
  <br/>

  <h3>iOS</h3>
</div>

{% endblock %}